
.header_section{
  margin-bottom: 100px;
  padding-right: 30px;
  padding-left: 30px;
}
.header_image{
  max-width: 1440px;
  min-height: 530px;
  min-width: 880px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: stretch;
  background-color: #050827;
}
.header_content{
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(5, 8, 39, 0.4), rgba(5, 8, 39, 0.4)),url('/img/coffee_style_hero.jpeg');
  height: 530px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
}
.header_text{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  p{
    color: #fff;
    opacity: .9;
  }
}
.header_headline_wrap{
  margin-bottom: 25px;
}
.header_headline{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 60px;
}